# 1. importing important Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("framingham.csv")

In [3]:
dataset

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [4]:
dataset.head(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [6]:
dataset.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

# 1. we r going to work with column male

In [7]:
# i want to change the name
dataset.rename(columns={"male":"sex(male)"},inplace=True)

In [8]:
dataset.head()

,sex(male),age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [9]:
# 1.2 i am going to find null values

In [10]:
dataset["sex(male)"].isna().sum()# no null values

0

In [11]:
dataset["sex(male)"].astype("int64")

0       1
1       0
2       1
3       0
4       0
       ..
4235    0
4236    0
4237    0
4238    1
4239    0
Name: sex(male), Length: 4240, dtype: int64

In [12]:
dataset["age"].isna().sum()

0

In [13]:
dataset["education"].isna().sum()

105

In [14]:
dataset["education"].value_counts()

1.0    1720
2.0    1253
3.0     689
4.0     473
Name: education, dtype: int64

In [15]:
dataset["education"].unique()

array([ 4.,  2.,  1.,  3., nan])

In [16]:
dataset["education"].fillna(0.0,inplace=True)

In [17]:
dataset["education"] = dataset["education"].astype("int64")

In [18]:
dataset["education"].unique()

array([4, 2, 1, 3, 0], dtype=int64)

In [19]:
dataset["currentSmoker"].isna().sum()

0

In [20]:
dataset["cigsPerDay"].isna().sum()

29

In [21]:
dataset["cigsPerDay"].fillna(0.0,inplace=True)

In [22]:
dataset["cigsPerDay"].isna().sum()

0

In [23]:
dataset["BPMeds"].isna().sum()

53

In [24]:
dataset["BPMeds"].fillna(0.0,inplace=True)

In [25]:
dataset["totChol"].isna().sum()

50

In [26]:
dataset["totChol"].fillna(0.0,inplace=True)

In [27]:
dataset["BMI"].fillna(0.0,inplace=True)

In [28]:
dataset["glucose"].fillna(0.0,inplace=True)

In [29]:
dataset.isna().sum()

sex(male)          0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          1
glucose            0
TenYearCHD         0
dtype: int64

In [30]:
dataset["heartRate"].fillna(0.0,inplace=True)

In [31]:
duplicate_data=dataset.duplicated()

In [32]:
duplicate_data.sum()

0

# we r going to delete rows with values 0

In [33]:
dataset.head()

,sex(male),age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [34]:
dataset.loc[3,"sex(male)"]==0

True

In [35]:
dataset.index

RangeIndex(start=0, stop=4240, step=1)

In [36]:
dataset=dataset[(dataset != 0).any(axis=1)]

# we r going to delete duplicates

In [37]:
duplicate=dataset.duplicated()
duplicate# it returns a pandas series, now to view this series as a table extract it from original dataset

0       False
1       False
2       False
3       False
4       False
        ...
4235    False
4236    False
4237    False
4238    False
4239    False
Length: 4240, dtype: bool

In [38]:
dataset[duplicate]

Empty DataFrame
Columns: [sex(male), age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, TenYearCHD]
Index: []

In [39]:
# means there r no duplicates

# now we rgoing to check and replace outliers

In [40]:
q1=[]
q3=[]
iqr=[]
lesser_outlier=[]
grater_outlier=[]
minim=[]
maxim=[]
column_list=[ "age", "cigsPerDay", "totChol", "sysBP", "diaBP", "BMI", "heartRate", "glucose"]
for column in column_list:
    Q1=dataset[column].quantile(0.25)
    q1.append(Q1)
    Q3=dataset[column].quantile(0.75)
    q3.append(Q3)
    IQR=Q3-Q1
    iqr.append(IQR)
    LESS=Q1-1.5*IQR
    lesser_outlier.append( LESS)
    GRT=Q3+1.5*IQR
    grater_outlier.append(GRT)
    new_min=dataset[column].min()
    minim.append(new_min)
    new_max=dataset[column].max()
    maxim.append(new_max)
    print(f"Column: {column}, LESS: {LESS}, GRT: {GRT}, min: {new_min}, max: {new_max},Q1:{Q1},Q3:{Q3}")
    dataset.loc[dataset[column]<=LESS,column]=Q1
    dataset.loc[dataset[column]>=GRT,column]=Q3

Column: age, LESS: 21.0, GRT: 77.0, min: 32, max: 70,Q1:42.0,Q3:56.0
Column: cigsPerDay, LESS: -30.0, GRT: 50.0, min: 0.0, max: 70.0,Q1:0.0,Q3:20.0
Column: totChol, LESS: 119.5, GRT: 347.5, min: 0.0, max: 696.0,Q1:205.0,Q3:262.0
Column: sysBP, LESS: 76.5, GRT: 184.5, min: 83.5, max: 295.0,Q1:117.0,Q3:144.0
Column: diaBP, LESS: 52.5, GRT: 112.5, min: 48.0, max: 142.5,Q1:75.0,Q3:90.0
Column: BMI, LESS: 15.576250000000003, GRT: 35.506249999999994, min: 0.0, max: 56.8,Q1:23.05,Q3:28.0325
Column: heartRate, LESS: 45.5, GRT: 105.5, min: 0.0, max: 143.0,Q1:68.0,Q3:83.0
Column: glucose, LESS: 42.5, GRT: 110.5, min: 0.0, max: 394.0,Q1:68.0,Q3:85.0

In [41]:
# now check if outliers r replaced

In [42]:
for column in column_list:
    
    outliers = dataset[(dataset[column] < LESS) | (dataset[column] > GRT)]
    
    if outliers.empty:
        print(f"No outliers in {column} ")
    else:
        print(f"Outliers still exist in {column}:")
        print(outliers[column])

Outliers still exist in age:
0       39
13      41
14      39
15      38
18      38
        ..
4202    42
4204    38
4211    42
4238    40
4239    39
Name: age, Length: 1102, dtype: int64
Outliers still exist in cigsPerDay:
0        0.0
1        0.0
2       20.0
3       30.0
4       23.0
        ...
4235    20.0
4236    15.0
4237     0.0
4238     0.0
4239    30.0
Name: cigsPerDay, Length: 4181, dtype: float64
Outliers still exist in totChol:
0       195.0
1       250.0
2       245.0
3       225.0
4       285.0
        ...
4235    248.0
4236    210.0
4237    269.0
4238    185.0
4239    196.0
Name: totChol, Length: 4240, dtype: float64
Outliers still exist in sysBP:
1       121.0
2       127.5
3       150.0
4       130.0
5       180.0
        ...
4235    131.0
4236    126.5
4237    133.5
4238    141.0
4239    133.0
Name: sysBP, Length: 3673, dtype: float64
Outliers still exist in diaBP:
328     111.0
359     112.0
1144    112.0
1588    112.0
2170    111.0
2245    111.0
2731    112.0
2961    111.0
3094    111.0
3580    111.0
3924    112.0
3927    111.0
Name: diaBP, dtype: float64
Outliers still exist in BMI:
0       26.97
1       28.73
2       25.34
3       28.58
4       23.10
        ...
4235    22.00
4236    19.16
4237    21.47
4238    25.60
4239    20.91
Name: BMI, Length: 4240, dtype: float64
No outliers in heartRate
No outliers in glucose

In [43]:
dataset.isna().sum()

sex(male)          0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [44]:
age_outliers = dataset[(dataset['age'] < 21.0) | (dataset['age'] > 77.0)]
print(age_outliers)

Empty DataFrame
Columns: [sex(male), age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, TenYearCHD]
Index: []

In [45]:
column_list

['age',
 'cigsPerDay',
 'totChol',
 'sysBP',
 'diaBP',
 'BMI',
 'heartRate',
 'glucose']

In [47]:
cig_outliers = dataset[(dataset['cigsPerDay'] < -30.0) | (dataset['cigsPerDay'] > 50)]
print(cig_outliers)

Empty DataFrame
Columns: [sex(male), age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, TenYearCHD]
Index: []